{% extends 'base.html' %}

{% block main %}
<!--for na tabela de filmes, exibir a capa sinopse e media de avaliações-->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {% for filme in filmes %}
            <div class="col">
              <div class="card shadow-sm">
                <img src="{{ filme.capa.url }}" alt="capa">
                <div class="card-body">
                    <h5 class="card-text"><b>{{ filme.nome }}</b></h5>
                    <p class="card-text">Data de estreia: {{ filme.data_lancamento }}</p>
                    <p class="card-text">Duração: {{ filme.duracao }}</p>
                    <p class="card-text">{{ filme.sinopse }}</p>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'avaliacoes' filme.id %}" class="btn btn-outline-primary">Ver avaliações</a>
                        </div>
                  </div>
                </div>
              </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}